.container {
    flex:1;
    width: 450px;
    height:350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
    margin-top:8rem;

}
.img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin-top: 2rem;
}
.txt{
    color: black;
}
.link {
    text-decoration: none;
}
.link :hover {
    text-decoration: underline;
}